
:root {
  --primary: #65272b;
  --warning: #ae0d16;
  --paper: #65272b;
  --background: #fff4d6;
  --contrast: #fff4d6;
  --footer-header: #65272b;
  --deep: #412b1c;
  --theme: #412b1c;
  --pale: #e2c8bb;
}

html[data-theme='light'] {
  --primary: #65272b;
  --warning: #ae0d16;
  --paper: #65272b;
  --background: #fff4d6;
  --contrast: #fff4d6;
  --footer-header: #65272b;
  --deep: #412b1c;
  --theme: #412b1c;
  --pale: #e2c8bb;
}

html[data-theme='dark'] {
  --primary: #fffaee;
  --warning: #cc242d;
  --paper: #fffaee;
  --background:#3f2419;
  --contrast: #fffaee;
  --footer-header: #652727;
  --deep: #412b1c;
  --theme: #412b1c;
  --pale: #e2c8bb;
}

html[timer='running']{
  --tomato: url(/27_tomato.png);
  --animation: running;
}

html[timer='pause']{
  --tomato: url(/27_tomato_rev.png);
  --animation: paused;
}

 

html{
  height:100%;
  --tomato: url(/27_tomato_rev.png);
  --animation: paused;
}

body{
  height:100%;
  background-color: var(--footer-header);
}

#__next{
  height: 100%;
}
