
:root {
  --primary: #65272b;
  --secondary: #65272b;
  --warning: #ae0d16;
  --paper: #65272b;
  --background: #fff4d6;
  --contrast: #fff4d6;
  --footer-header: #65272b;
  --deep: #412b1c;
  --pale: #e2c8bb;
}


html[data-theme='light'] {
  --primary: #65272b;
  --secondary: #65272b;
  --warning: #ae0d16;
  --paper: #65272b;
  --background: #fff4d6;
  --contrast: #fff4d6;
  --footer-header: #65272b;
  --deep: #412b1c;
  --pale: #e2c8bb;
}

html[data-theme='dark'] {
  --primary: #fff4d6;
  --secondary: #65272b;
  --warning: #ae0d16;
  --paper: #65272b;
  --background:#65272b ;
  --contrast: #fff4d6;
  --footer-header: #65272b;
  --deep: #412b1c;
  --pale: #e2c8bb;
}

.app-body{
  background-color: var(--footer-header);
}