//flexbox holy albatross
.iconBar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: var(--contrast);
  background-color: var(--secondary);
  height: 2em;
  margin: 0 0 1em 6%;
}

.iconBar * {
  font-family: 'Zen Kaku Gothic New', sans-serif;
}

.iconBar > * {
  flex-grow: 0.25;
  flex-basis: calc((25em - 100%) * 999);
  @media screen and (max-width:576px) {
    flex-basis: calc((15em - 100%) * 999);
  }
}

.iconBar > :first-child {
  margin-top: 6px;
  margin-left: 3px;
  margin-bottom: 6px;
  flex-grow: 0.35;
}

.iconBar > :nth-child(2) {
  flex-grow: 0.35;
}

