
:root {
  --primary: #65272b;
  --warning: #ae0d16;
  --paper: #65272b;
  --background: #fff4d6;
  --contrast: #fff4d6;
  --footer-header: #65272b;
  --deep: #412b1c;
  --theme: #412b1c;
  --pale: #e2c8bb;
  --tomato: url('/27_tomato_rev.png');
  --animation: paused;
}

html[isDark='false'] {
  --primary: #65272b;
  --warning: #ae0d16;
  --paper: #65272b;
  --background: #fff4d6;
  --contrast: #fff4d6;
  --footer-header: #65272b;
  --deep: #412b1c;
  --theme: #412b1c;
  --pale: #e2c8bb;
}

html[isDark='true'] {
  --primary: #fffaee;
  --warning: #9d1d22;
  --paper: #fffaee;
  --background:#39251d;
  --contrast: #fffaee;
  --footer-header: #552525;
  --deep: #412b1c;
  --theme: #412b1c;
  --pale: #e2c8bb;
}

html[animation='running1']{
  --animation: running;
  --tomato: url('/27_tomato.png');
}
html[animation='running2']{
  --animation: running;
  --tomato: url('/27_tomato_rot.png');
}


html[animation='paused']{
  --animation: paused;
  --tomato: url('/27_tomato_rev.png');
}


html{
  height:100%;
}

body{
  height:100%;
  background-color: var(--footer-header);
}

#__next{
  height: 100%;
}
