
:root {
  --primary: #65272b;
  --warning: #ae0d16;
  --paper: #65272b;
  --background: #fff4d6;
  --contrast: #fff4d6;
  --footer-header: #65272b;
  --deep: #412b1c;
  --theme: #412b1c;
  --pale: #e2c8bb;
  --tomato: url('/27_tomato_rev.png');
  --animation: paused;
}

html[isDark='false'] {
  --primary: #65272b;
  --warning: #ae0d16;
  --paper: #65272b;
  --background: #fff4d6;
  --contrast: #fff4d6;
  --footer-header: #65272b;
  --deep: #412b1c;
  --theme: #412b1c;
  --pale: #e2c8bb;
}

html[isDark='true'] {
  --primary: #fffaee;
  --warning: #cc242d;
  --paper: #fffaee;
  --background:#3f2419;
  --contrast: #fffaee;
  --footer-header: #652727;
  --deep: #412b1c;
  --theme: #412b1c;
  --pale: #e2c8bb;
}

html[animation='running']{
  --animation: running;
  --tomato: url('/27_tomato.png')
}

html[animation='paused']{
  --animation: paused;
  --tomato: url('/27_tomato_rev.png')
}

 

html{
  height:100%;
}

body{
  height:100%;
  background-color: var(--footer-header);
}

#__next{
  height: 100%;
}
