.container{
  margin-top: 20px;
  @media screen and (max-width:576px) {
    margin-top: 40px;   
  }
}

.main{
  height: 79%;
  @media screen and (max-width:576px) {
    height: 73%;
  }
}

.center{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:stretch;
  height: 100%;
  margin: 0 0 0 0;
  background-color: var(--background);
}

.memoDiv{
  text-align: right;
  top:auto;
  bottom: 12%;
}

.sideBarTopBar{
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.sideBarTopBar > :first-child {
  flex-grow: 1;
}
.sideBarTopBar > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 60%;
}
