.root {
  --font-size: 3em;
  display: flex;
  justify-content: center;
  font-size: var(--font-size);
  color: var(--primary);
  font-family: 'Roboto', sans-serif;
  margin:  0 0 0.3em 0;
}

.colon{ 
  line-height: 1.38em;
  margin: 0 0.01em 0 0.01em;
}