.root {
  --font-size: 40px;
  display: flex;
  justify-content: center;
  font-size: var(--font-size);
  color: var(--primary);
  line-height: var(--font-size);
  overflow: hidden;
  height: var(--font-size);
}
