.formControl {
  color: var(--primary);
  width: 8em;
  margin: 6% 0 0 5%;
  min-height: 3em;
}

.select {
  color: var(--primary);
  text-align: left;
}


.shrinkInputLabel {
  font-size:1.2em;
  color: var(--primary);
  background-color: var(--background);
  padding: 0 0.3em 0 0.3em;
}

.icon{
  color: var(--primary);
}

.inputBase{
  color: var(--primary);
}

.outlined{
  border: none;
}