.root {
  display: flex;
  align-items: center;
}

.root :hover{
  cursor: pointer;
}

.volumeUp{
  margin-left: 0.1em;
  animation: inflation 1s steps(1, end) 0s 8;
  border-radius: 50%;
  border: 0.1em solid;
  width: 1.2em;
  height: 1.2em;
  color: var(--contrast);
}

@keyframes inflation {
  0%{
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  99.9%,
  to{
    transform: scale(1);
  }
}
