.root {
  display: flex;
  align-items: center;
  width: 150px;
  @media screen and (max-width:576px) {
    width: 130px;
  }
}

.slider{
  margin-right: 9px;
  margin-left: 5px;
}

.thumb {
  color: var(--contrast);
}


.rail {
  color: var(--contrast);
}

.track{
  color: var(--contrast);
}

.volumeUp{
  animation: inflation 1s steps(1, end) 0s 8;
}

@keyframes inflation {
  0%{
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  99.9%,
  to{
    transform: scale(1);
  }
}
