.titleBar {
  color: var(--contrast);
  background-color: var(--secondary);
  padding-top: 1.1%;
  padding-bottom: 1.6%;
  @media screen and (max-width:576px) {
    padding-top: 3.5%;
  }
}

.title {
  margin-left: 4%;
  flex-grow: 1;
  font-size: 2em;
  font-family: 'Zen Kaku Gothic New', sans-serif;
  @media screen and (max-width:576px) {
    font-size: 1.3em;
  }
}
