.root {
  display: flex;
  align-items: center;
}

.label{
  font-size: 0.9em;
  width: 2.2em;
  @media screen and (max-width:576px) {
    display: none;
  }
}

.iconButton{
  color: var(--contrast);
}

.volumeUp{
  margin-left: 0.1em;
  width: 1.3em;
  height: 1.3em;
  color: var(--contrast);
}
