.root {
  color: var(--primary);
  margin-bottom: 4%;
  background-color: var(--background);
  min-width: 25em;
  height: 8em;
  @media screen and (max-width:576px) {
    min-width: 80vw;
  }

}
.input {
  color: var(--primary);
  font-size: 0.95em;
  line-height: 1.4em;
  margin-right: 10%;
  @media screen and (max-width:576px) {
    font-size: 16px;
  }
}
.shrink {
  font-size: 1.3em;
  background-color: var(--background);
  padding-right: 5px;
}

.outline{
  border-color: var(--primary);
}