.iconBar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: var(--contrast);
  background-color: var(--secondary);
  height: 6%;
  margin-bottom: 3%;
  font-family: 'Zen Kaku Gothic New', sans-serif;
}

.iconBar >:first-child {
  flex-basis: 1;
}

.iconBar > :last-child {
  flex-basis: 0;
  flex-grow: 1;
  min-width: 40%;
}


.iconBar > * {
  margin-top:  1vh;
  margin-bottom: 1vh;
  margin-left: 20px;
}