.formControl {
  color: var(--primary);
  width: 8em;
  margin: 6% 0 0 5%;
  min-height: 3em;
}

.root {
  color: var(--primary);
  text-align: left;
}

.shrinkInputLabel {
  font-size:1.2em;
  color: var(--primary);
}

.icon{
  color: var(--primary);
}

.inputBase{
  color: var(--primary);
}