.root {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin basaeButton($color: black) {
  font-size: 2.7em;
  border: 0.07em solid;
  border-radius: 50%;
  color: $color; 
}

.playButton{
  @include basaeButton(var(--primary));
}

.pauseButton{
  @include basaeButton(var(--pale));
}